/* Write your CSS here */

.app-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 120px;
  height: 120px;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
.app-heading {
  font-size: 15px;
  text-align: center;
}
.app-image {
  height: 50px;
}
